.ai-banner{
    background: url('https://gitex.com/uploads/Innerbanner/f5297136-e9f7-45d0-ae43-f7df20c4203a.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Aifaq{
    background-color: hsl(0, 0%, 96%);
}