/* VerticalCarousel.css */

/* .vertical-carousel-container {
    display: flex;
    flex-direction: column;
    height: 300px; 
  }
  
  .vertical-carousel-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
  }
   */
   .card .img img{
    width: 140px;
    height: 140px;
    object-fit: cover;
   }

   .carousel .card{
    width: 80%;
    height: 160px;
    border: solid 1px black;
    list-style: none;
   }