.mobility-banner{
    background: url('https://gitex.com/uploads/Innerbanner/e03ada70-bf77-43eb-a445-96111161d8ae.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}