.ainew.banner{
    background: url('https://www.ai-everything.com/Uploads/InnerBanner/2b0721fb-cd69-4245-bc32-d6f11107e820.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.ainew.banner > h1{
    line-height: 1.5;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #f4f4f4;
    color: #fff;
    text-decoration: none;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(70deg,#1e235700,#1e235703 50%,#01adbb 50%);
    background-size: 100% 200%;
    background-position: 0 0;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1.2px;
    position: relative;
transform: translateY(50%);
}

.vertical-blue-dropdawn{
    position: absolute;
    top: 65%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #00aeba;;
    transition: height 700ms ease;
    opacity: .3;
}

.ainewscard:hover .vertical-blue-dropdawn{
    height: 35%;
}

.ainewscard:hover *{
    color: white;
}