.meta-banner{
    background: url('https://gitex.com/uploads/Innerbanner/aa39767a-9f82-4b65-9085-d20ae721f840.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
