.cto-banner{
    background: url('https://gitex.com/uploads/Innerbanner/b72c1998-d97a-4b7c-be94-7221b25bcbfa.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
