/* @font-face {
    font-family: 'jtypewriter';
    src: url('path/to/jtypewriter.woff2') format('woff2'),
         url('path/to/jtypewriter.woff') format('woff'),
         url('path/to/jtypewriter.ttf') format('truetype');
  } */

.bottom-line{
    position: relative;
    top: 0;
    left: 5%;
    width: 3px;
    height: 60px;
    background-color:rgb(3, 16, 112);
    }
    
    .bottom-line::after{
        content:"";
        width: 17px;
        height: 17px;
        border-radius: 50%;
        display: block;
        position: relative;
        bottom: -50px;
        left: -200%;
        background-color: rgb(3, 16, 112);
    
    }
    
    .paragraph{
     font-family: nekst;
    }

    .paragraph::before{
        content: "";
        position: relative;
        left: 150px;
        top: 20%;
        width: 150px;
        height: 8px;
        background-color: red;
    }

    @media screen and (min-width: 768px) {
        .bottom-line{
            height: 100px;
        }
        .bottom-line::after{
            display: block;
            position: relative;
            bottom: -100px;
        }
      }
      
/* slider */

.slider{
    position: relative;
}

/* background start */

.slider-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

.moving-elem{
    opacity: .4;
    background: radial-gradient(circle, rgba(3, 138, 228, 0.8), transparent 40% 100%);
    /* background: radial-gradient(circle, rgb(2, 146, 242) 50%, rgba(5, 1, 246, 0.6) 50%, rgba(233, 161, 235, 0) 100%); */
    animation: move 8000ms ease-in-out infinite;
}

@keyframes move {
    0% {
      transform: translateX(-50%);
    }
    50%{
        transform: translateX(150%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  /* background end */

  /* elements start */
 

  
  /* elements end */