.sustainable-banner{
    background: url('https://gitex.com/uploads/Innerbanner/b273f32c-dea7-4834-abda-22739170eb08.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sustainable-text-container{
    background-color:#eaeaea
}