.developer-banner{
    background: url('https://gitex.com/uploads/Innerbanner/93aca87d-fcbc-4621-a99f-52113461bbdd.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}