.telecoms-banner{
    background: url('https://gitex.com/uploads/Innerbanner/d275ebf1-32ec-4c1b-ad73-ccccb358ff85.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.keytopics-container{
    background-color: rgb(232, 232, 232);
}