/* MouseMoveEffect.css */

  
  .container-mousemove {
    perspective: 1000px;
  }

  .wrapper-mousemove{
      transform-style: preserve-3d;
  }
  #movingImage {
    transition: transform 100ms ease;
  }
  