.youth-banner{
    background: url('https://gitex.com/uploads/Innerbanner/7b9e707a-e1c8-44d5-805a-9dc39678db70.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}